.idea

!.gitignore
!.python-version
!ansible.cfg
!README.md

galaxy*

.tmp/**/
!.tmp/.gitkeep

roles/local/**/
!roles/local/.gitkeep

roles/public/**/
!roles/public/.gitkeep


collections/**/
!collections/ansible_collections/.gitkeep
